.main-container{
	width: 100%;
}

.header-wrapper{
	width: 100%;
	background: #FFFFFF;
	/*background: red;*/
	/*height: 101px;*/
}

.main-header{
	max-width: 120em; 		/*1920px*/
	/*height: 101px;*/
	/*background-color: blue;*/
	margin: 0px auto;   
}

.header-content{
	width: 60.9375%;		/*1170*/
	margin: 0px auto;
	/*background: green;*/
	/*height: 101px;*/
}




.slider-wrapper{
	width: 100%;
	background: grey;
	/*height: 707px;*/
	overflow: hidden;
	position: relative;
}

.slider-long{
	width: 300%;
	/*background: red;*/
}

.slider-long .slide{
	width: 33.33333333%;
	float: left;
	min-height: 707px;
}

.slider-long .slide img{
	width: 100%;

}

.slider-long .slide.slide1{
	background: url('../images/slider1.jpg') no-repeat;
	background-position: 0 0;
	background-size: 100%;
	/*min-height: 707px;*/
}

.slider-long .slide.slide2{
	background: url('../images/slider2.jpg') no-repeat;
	background-position: 0 0;
	background-size: 100%;
	/*min-height: 707px;*/
}

.slider-long .slide.slide3{
	background: url('../images/slider3.jpg') no-repeat;
	background-position: 0 0;
	background-size: 100%;
	/*min-height: 707px;*/
}

.slider-long .slide .slide-info-wrapper{
	max-width: 73.125em;
	margin: 0px auto;
	/*height: 707px; */
	/*background: blue;*/
}

.stmt-wrapper{
	width: 100%;
	background: #e5493a ;
}

.main-stmt-wrapper{
	max-width: 120em;
/*	height: 158px;*/
/*	background: #3A9D4C;*/
	margin: 0px auto;
}

.stmt{
	width: 60.9375%;
	margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 56px;
/*    background: #B2C3C5;*/
    text-align: center;
}


.service-wrapper{
	width: 100%;
	background: #FFFFFF;
}

.main-service-wrapper{
	max-width: 120em;
	/*height: 399px;*/
	/*background: #39EB26;*/
	margin: 0px auto;
}

.services{
	width: 60.9375%;
	margin: 0px auto;
	/*background: #52D371;*/

}

.service{
	/*width: 47.3684%;*/
	width: 23.0769%;
	/*height: 239px;*/
	float: left;
	/*background: #87DEBA;*/
	padding-top: 80px;
	padding-bottom: 80px;
	/*padding-right: 30px;*/
	padding-right: 2.5641%;
}

.service-last{
	padding-right: 0px;
}

.achievement-wrapper{
	width: 100%;
	/*background: #C68536;*/
	background: #363636;
}

.main-achievement-wrapper{
	max-width: 120em;
	/*height: 324px;*/
	/*background: #DC4425;*/
	margin: 0px auto;
}

.achievements{
	width: 60.9375%;
	margin: 0px auto;
	/*background: #D71A88;*/
}

.achievement{
	/*width: 47.3684%;*/
	width: 23.0769%;
	/*height: 239px;*/
	float: left;
	/*background: #1B2D5A;*/
	padding-top: 77px;
	padding-bottom: 65px;
	/*padding-right: 30px;*/
	padding-right: 2.5641%;
	text-align: center;
}


.achievement-last{
	padding-right: 0px;
}



.blog-wrapper{
	width: 100%;
	/*background: #9B542B;*/
	background: white;
}

.main-blog-wrapper{
	max-width: 120em;
	/*height: 810px;*/
	/*background: #D6654E;*/
	margin: 0px auto;
}


.blog-title-wrapper{
	width: 60.9375%;
	margin: 0px auto;
	/*background: #954429;*/
	/*background: white;*/
	/*height: 179px;*/
}

.blog-post-wrapper{
	width: 60.9375%;
	margin: 0px auto;
	/*background: #B36E58;*/
	padding-top: 40px;
	/*padding-bottom: 104px;*/
	/*height: 487px;*/
}

.blog-post{
	float: left;
	width: 31.6239%;
	/*background: #fafafa;*/
	/*padding-right: 30px;*/
	padding-right: 2.5641%;
	padding-bottom: 104px;
	/*padding-top: 40px;*/
}

.blog-post.post-last{
	padding-right: 0px;
}

.purchase-wrapper{
	width: 100%;
	/*background: #DF9D46;*/
	background: #e5493a;
}

.main-purchase-wrapper{
	max-width: 120em;
	/*height: 306px;*/
	/*background: #E72C94;*/
	margin: 0px auto;
}

.purchase{
	width: 60.9375%;
	margin: 0px auto;
	/*background: #42279A;*/
	/*background: #e5493a;*/
    text-align: center;
    padding-bottom: 77px;
}

.footer-wrapper{
	width: 100%;
	/*height: 518px;*/
	/*background: #622929;*/
	background: #252525;
}

.main-footer-wrapper{
	max-width: 120em;
	/*height: 518px;*/
	/*background: #971E1E;*/
	margin: 0px auto;
	position: relative;
}


.footer-contents{
	width: 60.9375%;
	/*height: 518px;*/
	/*background: #5F3939;*/
	margin: 0px auto;
}

.content{
	width: 23.0769%;
	float: left;
	padding-top: 80px;
	padding-bottom: 65px;
	padding-right: 2.5641%;
	/*background: #742424;*/
}

.content-last{
	padding-right: 0px;
}

.to-the-top{
	position: absolute;
	right: 8.48958%;
	top: 45%;
	width: 50px;
	height: 50px;
	background-color: black;
	border-radius: 5px;
	color: white;
}
