
@media screen and (max-width: 1300px){
	
	.slider-long .slide{
		height: 400px;
	}

	.slider-long .slide .slide-info{
		/*padding-left: 100px;*/
		padding-top: 100px;
		padding-bottom: 50px;
	}


	.slide-info .slide-title .title-top{
		font-size: 50px;
	}

	.slide-info .slide-title .title-bottom{
		font-size: 30px;
		line-height: 40px;
	}

	.slide-info .slide-desc{
		font-size: 18px;
		padding-bottom: 25px;
		line-height: 20px;
	}	

	.slide-info .button-wrapper{
		width: 100px;
		height: 30px;
	}

	.slide-info .button-wrapper a{
		line-height: 30px;
		font-size: 10px;

	}

	.slider-wrapper .arrow{
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
	}

	.slider-wrapper .arrow.arrow-left{
		left: 50px;
	}
	.slider-wrapper .arrow.arrow-right{
		right:50px;
	}


	.stmt .stmt-top {
	    font-size: 20px;
	    line-height: 30px;
	}

	.stmt .stmt-bottom{
	    font-size: 15px;
	   	line-height: 18px;
	}	


	.service{
		width: 45%;
		padding-top: 30px;
		padding-bottom: 40px;
	
	}

	.achievement{
		width: 45%;
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.blog-post{
		width: 100%;
		padding-right: 0px;
		padding-bottom: 40px;
	}


	.purchase .purchase-top {
	    font-size: 24px;
	    line-height: 33px;
	}

	.purchase .purchase-middle{
	    font-size: 15px;
	    line-height: 18px;
	}

	.button-wrapper{
		width: 50%;
		/*float: none;*/
	}

	/*.button-wrapper .button a{
		display: block;
		text-decoration: none;
		font-family: 'raleway';
		font-weight: bold;
		font-size: 14px;
		color: white;
		text-align: center;
		line-height: 50px;

	}*/

/*
	.button-wrapper .button{
		height: 44px;
		border-radius: 5px;
	}

	.button-wrapper .button.screenshots{
		height: 40px;
	}


	.button-wrapper .button input{
		height: 44px;
		font-size: 10px;
	}

	.button-wrapper .screenshots input{
		height: 40px;
	}*/

	.content{
		width: 40%;
		padding-top: 50px;
		padding-bottom: 35px;
	}
}