
@media screen and (max-width: 800px){
	
	.slider-long .slide{
		min-height: 300px;
	}

	.slider-long .slide .slide-info{
		padding-left: 100px;
		padding-top: 100px;
	}


	.slide-info .slide-title .title-top{
		font-size: 35px;
	}

	.slide-info .slide-title .title-bottom{
		font-size: 20px;
		line-height: 30px;
	}

	.slide-info .slide-desc{
		font-size: 18px;
		padding-bottom: 25px;
		line-height: 20px;
	}	

	.slide-info .button-wrapper{
		width: 100px;
		height: 30px;
	}

	.slide-info .button-wrapper input{
		height: 30px;
		font-size: 10px;
	}

	.slider-wrapper .arrow{
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
	}

	.slider-wrapper .arrow.arrow-left{
		left: 50px;
	}
	.slider-wrapper .arrow.arrow-right{
		right:50px;
	}
	
	.stmt .stmt-top {
	    font-size: 18px;
	    line-height: 30px;
	}

	.stmt .stmt-bottom{
	    font-size: 12px;
	   	line-height: 17px;
	}	

	.service{
		width: 100%;
	}

	.achievement{
		width: 100%;
	}

	.content{
		width: 100%;
	}
	/*
	.achievement-title{
		font-size: 20px;
	}*/
}