
@media screen and (max-width: 1300px){
	
	/*slider section*/
	.slider-long .slide{
		height: 400px;
	}

	.slider-long .slide .slide-info{
		padding-top: 100px;
		padding-bottom: 50px;
	}


	.slide-info .slide-title .title-top{
		font-size: 50px;
	}

	.slide-info .slide-title .title-bottom{
		font-size: 30px;
		line-height: 40px;
	}

	.slide-info .slide-desc{
		font-size: 18px;
		padding-bottom: 25px;
		line-height: 20px;
	}	

	.slide-info .button-wrapper{
		width: 100px;
		height: 30px;
	}

	.slide-info .button-wrapper a{
		line-height: 30px;
		font-size: 10px;

	}

	.slider-wrapper .arrow{
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
	}

	.slider-wrapper .arrow.arrow-left{
		left: 50px;
	}
	
	.slider-wrapper .arrow.arrow-right{
		right:50px;
	}


	/*statement section*/
	.stmt .stmt-top {
	    font-size: 20px;
	    line-height: 30px;
	}

	.stmt .stmt-bottom{
	    font-size: 15px;
	   	line-height: 18px;
	}	


	/*service section*/
	.service{
		width: 45%;
		padding-top: 30px;
		padding-bottom: 40px;
	
	}


	/*achievement section*/
	.achievement{
		width: 45%;
		padding-top: 50px;
		padding-bottom: 20px;
	}


	/*blog post section*/
	.blog-post{
		width: 100%;
		padding-right: 0px;
		padding-bottom: 40px;
	}

	.blog-title{
		width: 80%;
	}


	/*purchase section*/
	.purchase .purchase-top {
	    font-size: 24px;
	    line-height: 33px;
	}

	.purchase .purchase-middle{
	    font-size: 15px;
	    line-height: 18px;
	}


	/*purchase section*/
	.button-wrapper{
		width: 50%;
	}
	

	/*footer section*/
	.content{
		width: 40%;
		padding-top: 50px;
		padding-bottom: 35px;
	}
}