input:focus {
    outline-width: 0;
}

::-webkit-input-placeholder {
	font-family: 'roboto';
    font-size: 15px;
    color: #343434;
    padding-left: 20px; 
}

:-moz-placeholder { /* Firefox 18- */
	font-family: 'roboto';
    font-size: 15px;
    color: #343434;
    padding-left: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'roboto';
    font-size: 15px;
    color: #343434;
    padding-left: 20px;
}

:-ms-input-placeholder {  
    font-family: 'roboto';
    font-size: 15px;
    color: #343434;
    padding-left: 20px;
}