.header-content .logo{
	width: 8.37607%;
	float: left;
	padding-top: 24px;
	padding-bottom: 33px;

	/*background: red;*/
}

.header-content .logo img{
	width: 100%;
}

div.menu{
	width: 82.906%;
	float: right;
	padding-top: 33px;
	padding-bottom: 43px;
	font-family: 'raleway';
  	font-weight: bold;
	font-size: 14px;

}

div.menu ul{
	list-style: none;
}

div.menu ul li{
	display:block;
	float: left;
	padding-right: 42px;
}

div.menu ul li:hover a{
	color: #e5493a;
}

div.menu ul li a{
	display: block;
	text-decoration: none;
	color: black;
	background-color: none;
	position: relative;
}

div.menu ul li a .down-arrow{
	width: 13px;
	height: 10px;
	position: absolute;
	right: -13px;
	bottom: 0;
	background: url('../images/menu_down_arrow_black.png') no-repeat;
	background-position: 6px 3px;
}

div.menu ul li:hover a .down-arrow{
	background: url('../images/menu_down_arrow.png') no-repeat;
	background-position: 6px 3px;
}


div.menu ul li a.active .down-arrow{
	background: url('../images/menu_down_arrow.png') no-repeat;
	background-position: 6px 3px;
}


div.menu ul li a.active{
	color: #e5493a;
}

div.menu ul li a.active .small-bar{
	border-bottom: 2px solid #e5493a;
}

.small-bar{
	display: block;
	width: 8px;
	height: 2px;
}

.small-bar.active{
	background: red;
}

.menu-list{
	display: block;
	padding-top: 10px;
}



.slider-wrapper .arrow{
	width: 42px;
	height: 42px;
	position: absolute;
	top: 46%;
	background-color: #e6e6e6;
	border-radius: 5px;
	line-height: 42px;
	color: white;
	text-align: center;
}



.slider-wrapper .arrow:hover{
	background-color: #e5493a;
	cursor: pointer;
}

.slider-wrapper .arrow.arrow-left{
	left: 100px;
}
.slider-wrapper .arrow.arrow-right{
	right:100px;
}

.slider-wrapper .slider-nav{
	position: absolute;
	bottom: 7.35502%;
	/*left:48.0729%;*/
}

.slider-wrapper .slider-nav ul{
	list-style: none;
}

.slider-wrapper .slider-nav ul li {
	float: left;
	width: 20px;
	height: 20px;
}

.slider-wrapper .slider-nav ul li a{
	display: block;
	width: 10px;
	height: 10px;
	border-radius:8px;
	background: white;
}



.slider-long .slide .slide-info{
	width: 100%;
	padding-top: 190px;
	color: #363636;
}

.slide-info .slide-title{
	padding-bottom: 17px;
}

.slide-info .slide-desc{
	width: 65%;
	font-family: 'raleway';
	font-size: 27px;
	color: #626262;
	padding-bottom: 52px;
	line-height: 30px;
}

.slide-info .slide-title .title-top{
	font-family: 'raleway';
	font-weight: bold;
	font-size: 71px;
}

.slide-info .slide-title .title-bottom{
	font-family: 'raleway';
	font-weight: bold;
	font-size: 52px;
	line-height: 60px;
}

.slide-info .slide-title .title-bottom .highlight-red{
	color: #e5493a;
}


.slide-info .button-wrapper{
	width: 19.5299%;
	height: 54px;
	float: left;
	background: #e5493a;
	/*border-radius: 5px;*/
}

.slide-info .button-wrapper a{
	text-decoration: none;
	display: block;
	/*width: 100%;*/
	height: 54px;
	line-height: 54px;
	text-align: center;
	/*border: none;
	background: none;*/
	font-family: 'raleway';
	font-weight: bold;
	font-size: 14px;
	color: white;

	/*cursor: pointer;*/
}


.stmt .stmt-top {
    font-family: 'raleway';
    font-weight: bold;
    font-size: 32px;
    color: white;
    line-height: 35px;
	padding-bottom: 5px;
}

.stmt .stmt-bottom{
    font-family: 'raleway';
    font-size: 24px;
    color: white;
    line-height: 29px;
}

.service-logo{
	width: 100%;
	height: 100px;
}

.clean-design-logo{
	background: url('../images/clean_design.png') no-repeat;
	background-position: 50% 50%;
}

.branding-logo{
	background: url('../images/branding.png') no-repeat;
	background-position: 50% 50%;
}

.responsive-logo{
	background: url('../images/responsive.png') no-repeat;
	background-position: 50% 50%;
}

.development-logo{
	background: url('../images/development.png') no-repeat;
	background-position: 50% 50%;
}


.service-info{
	text-align: center;
}

.service:hover{
	cursor: pointer;
}

.service:hover .clean-design-logo{
	background: url('../images/clean_design_active.png') no-repeat;
	background-position: 50% 50%;
}

.service:hover .branding-logo{
	background: url('../images/branding_active.png') no-repeat;
	background-position: 50% 50%;
}

.service:hover .responsive-logo{
	background: url('../images/responsive_active.png') no-repeat;
	background-position: 50% 50%;
}

.service:hover .development-logo{
	background: url('../images/development_active.png') no-repeat;
	background-position: 50% 50%;
}

.service:hover .service-title{
	color: #e5493a;
}

.service:hover .service-description{
	color: black;
}

.service-title{
	font-family: 'raleway';
	font-size: 25px;
	font-weight: bold;
	line-height: 72px;
}

.service-description{
	font-family: 'roboto';
	font-size: 15px;
	color: #aaaaaa;
	line-height: 19px;
}

.service-bottom-bar{
	width: 70px;
	height: 30px;
	margin: 0px auto;
	border-bottom: 2px solid #e3493f;
}



.achievement-info{
	text-align: center;
}

.achievement-title{
	font-family: 'raleway';
	font-size: 25px;
	font-weight: bold;
	line-height: 72px;
	color: #e5493a;
}

.raleway-font{
	font-family: 'raleway';
}

.achievement-description{
	font-family: 'roboto';
	font-size: 15px;
	color: #aaaaaa;
	line-height: 19px;
	color: #909090;
}

.achievement-bottom-bar{
	width: 70px;
	height: 30px;
	margin: 0px auto;
	border-bottom: 2px solid #e3493f;
}




.achievement-counter{
	width: 100%;
	font-family: 'raleway';
	font-weight: bold;
	font-size: 48px;
	color: white;
	/*height: 44px;	*/
}


.blog-post-inner{
	width: 100%;
}

.blog-post-inner:hover {
	/*cursor: pointer;*/
}


.blog-post-inner:hover .post-title{
	color: #e5493a;
}

.blog-post-inner:hover .post-desc{
	color: black;
}

.blog-post-inner:hover .read-more{
	color: #e5493a;
}

.blog-post-inner:hover .post-bottom-bar{
	width: 83.7838%;
	border-bottom: 2px solid #e5493a;
}



.blog-title{
	text-align: center;
	width: 47.0085%;
	margin: 0px auto;
	padding-top: 60px;
}

.blog-title-main{
	font-family: 'raleway';
	font-weight: bold;
	font-size: 31px;
	padding-bottom: 19px;
}

.blog-title-desc{
	font-family: 'roboto';
	font-size: 15px;
	color: #8e8e8e;
	line-height: 19px;
}

.blog-title .bottom-line{
	width: 30.9091%;
	height: 30px;
	/*background: white;*/
	border-bottom: 2px solid #373737;
	margin: 0px auto;
}




.post-pic{
	width: 100%;
	position: relative;
}

.post-pic img{
	width: 100%;
}

.blog-post-inner .post-pic .blog-pic-overlay{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	display: none;
}

.blog-pic-top-icon{
	/*width: 41px;
	height: 41px;*/
	width: 11.0811%;
}

.blog-pic-top-icon img{
	width: 100%;
}

.blog-post-inner:hover .post-pic .blog-pic-overlay{
	display: block;
	background-color: rgba(0,0,0,0.5);
}


.blog-post-inner:hover .post-pic .overlay-icon-wrapper .overlay-icons{
	display: block;
}


.overlay-icon-wrapper{
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay-icons{
	display: none;
	margin: 0px auto;
	width: 92px;
	height: 42px;
}

.overlay-icons .search-icon {
	float: left;
	width: 42px;
	height: 42px;
}

.overlay-icons .search-icon a{
	display: block;
	width:42px;
	height: 42px;
	background: url('../images/blog_search_black.png') no-repeat;
	background-position: 50% 50%;
}

.overlay-icons .search-icon a:hover{
	background: url('../images/blog_search_red.png') no-repeat;
	background-position: 50% 50%;
}

.overlay-icons .link-icon {
	float: right;
	width: 42px;
	height: 42px;
}

.overlay-icons .link-icon a{
	display: block;
	width:42px;
	height: 42px;
	background: url('../images/blog_link_black.png') no-repeat;
	background-position: 50% 50%;
}

.overlay-icons .link-icon a:hover{
	background: url('../images/blog_link_red.png') no-repeat;
	background-position: 50% 50%;
}


.post-date{
	width: 91.8919%;
	font-family: 'roboto';
	font-size: 14px;
	color: #cbcbcb;
}

.post-details{
	/*width: 91.8919%;*/
	/*width: 100%;*/
	padding-top: 23px;
	/*padding-left: 8.10811%;*/
	padding-left: 30px;
	background: #fafafa;
}

.post-details .post-title{
	width: 91.8919%;
	font-family: 'raleway';
	font-weight: bold;
	font-size: 18px;
	color: #333333;
	padding-top: 19px;
	padding-bottom: 20px;
}

.post-details .post-desc{
	width: 91.8919%;
	font-family: 'roboto';
	font-size: 16px;
	color: #8d8d8d;
	padding-bottom: 25px;
	line-height: 20px;
}

.post-details .post-bottom-bar{
	width: 18.9189%;
	height: 31px;
	border-bottom: 2px solid black;

}

.purchase .purchase-top {
    font-family: 'raleway';
    font-weight: bold;
    /*font-size: 32px;*/
	font-size: 32px;
    color: white;
    line-height: 35px;
    padding-top: 65px;
}

.purchase .purchase-middle{
    font-family: 'raleway';
    /*font-size: 25px;*/
    font-size: 23px;
    color: white;
    line-height: 40px;
    padding-bottom: 30px;
}


.button-wrapper{
	width: 31.6239%;
	margin: 0px auto;
}

.button-wrapper .button{
	width: 45.9459%;
	/*height: 54px;*/
	height: 50px;
	/*border-radius: 5px;*/
	border: 2px solid white;
	background: none;
}

.button-wrapper .button:hover{
	/*height: 54px;*/
	/*border:none;*/
	border: 2px solid #363636;
	background: #363636;
}

/*.button-wrapper .button input:hover{
	cursor: pointer;
}
*/
.button-wrapper .button a{
	display: block;
	text-decoration: none;
	font-family: 'raleway';
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-align: center;
	line-height: 50px;

}

.button-wrapper .button.buy-this{
	float: left;
}

.button-wrapper .button.screenshots{
	float: right;
}

.footer-logo{
	width: 100%;
	padding-bottom: 28px;
	vertical-align: bottom;
}

.footer-logo .logo{
	width: 37.037%;
	float: left;
	/*padding-right: 5.55556%;*/
	padding-right: 10px;
}

.footer-logo .logo img{
	width: 100%;
}

.footer-logo .moto{
	width: 57.4074%;
	float: left;
	font-family: 'roboto';
	font-size: 10px;
	font-weight: bold;
	color: #373737;
	padding-top: 23px;
}

.content .description-wrapper{
	/*padding-top: 34px;*/
	padding-bottom: 47px;
	line-height: 19px;
	font-family: 'roboto';
	font-size: 15px;

}

.description{
	color: #676767;
	padding-bottom: 21px;
}

a.read-more{
	text-decoration: none;
	color: black;
	font-family: 'roboto';
	font-size: 14px;
}

a.read-more.active{
	color: #e14f36;
}

a.read-more .arrow-right{
	font-family: 'raleway';
	font-size: 9px;
}

.content .news-letter p{
	font-family: 'roboto';
	font-size: 18px;
	color: white;
}

.content .news-letter .email-input input{
	width: 100%;
	height: 42px;
	border: none;
	background: none;
}

.content .news-letter .email-input{
	padding-top: 19px;
	padding-bottom: 19px;
	position: relative;
}

.content .news-letter .email-input .input-wrapper{
	width: 100%;
	height: 42px;
	background: #171717;
	border-radius: 5px;
}

.content .privacy-policy a{
	text-decoration: none;
	font-family: 'raleway';
	font-size: 13px;
	color: #464646;
}

.mail-icon{
	position: absolute;
	right:15px;
	top: 34px;
}

.content-title{
	font-family: 'raleway';
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 16px;
	padding-top: 0px;
	color: white;
}

.content .pseudo-bottom-bar{
	width: 70px;
	height: 30px;
	border-top: 2px solid #e64b39;
}

.content .news-wrapper, .tweet-wrapper, .contact-wrapper{
	width: 100%;
}


.news:hover{
	/*cursor: pointer;*/
}

.news:hover .news-main .news-details .news-title{
	color: #e5493a;
}

.news:hover .news-main .news-details .news-date{
	color: white;
}



.news .news-main, .tweets .tweet-main, .contact .contact-main{
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 2px solid #363636;
}

.news-middle .news-main, .tweet-middle .tweet-main, .contact-middle .contact-main{
	padding-top: 20px;
}

.news-bottom .news-main, .tweet-bottom .tweet-main, .contact-bottom .contact-main{
	padding-top: 20px;
	border-bottom: none;
}


.news .news-pic{
	width: 25.9259%;
	float: left;
	/*padding-right: 6.66666%;*/
	padding-right: 12px;
}

.news .news-pic img{
	width: 100%;
}

.news-details{

}

.news .news-details .news-title, .tweet{
	font-family: 'roboto';
	font-size: 15px;
	line-height: 20px;
	color: #9e9e9e;
}


.news .news-details .news-date, .tweet-time{
	font-family: 'roboto';
	font-size: 13px;
	line-height: 32px;
	color: #484848;
}


.tweet-details{
	/*width: 67.037%;*/
	width: 86.2963%;
	float: left;
}


.twitter-pic{
	width: 7.40741%;
	float: left;
	padding-right: 17px;
}

.twitter-pic img{
	width: 100%;
}

.tweet a{
	text-decoration: none;
	color: white;
}

.tweet .hash, .tweet .mention{
	color: white;
}


.tweets:hover{
	/*cursor: pointer;*/
}

.tweets:hover .tweet-main .tweet-details .tweet{
	color: #e5493a;
}

.tweets:hover .tweet-main .tweet-details .tweet-time{
	color: white;
}

.contact-medium{
	width: 25.9259%;
	float: left;
	padding-right: 29px;
	font-family: 'roboto';
	font-size: 13px;
	line-height: 32px;
	color: #484848;
}

.contact-details{
	width: 63.3333%;
	float: left;
	font-family: 'roboto';
	font-size: 15px;
	line-height: 20px;
	color: #9e9e9e;
}

span.place{
	font-family: 'roboto';
	font-size: 13px;
	line-height: 20px;
	color: #484848;
}

.mail-addr{
	color: #e24c33;
}

.contact-details ul{
	list-style: none;
}

.contact-details ul li span{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	padding-right: 6px;
	padding-bottom: 6px;
}

.contact-details ul li span.icon-last{
	padding-right: 0px;
}



.contact-details ul li span.fb{
	background: url('../images/icon_fb.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.twtr{
	background: url('../images/icon_twitter_active.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.tumblr{
	background: url('../images/icon_tumblr.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.linkedIn{
	background: url('../images/icon_linkedin.png') no-repeat;
	background-position: 0 0;
}


.contact-details ul li span.gplus{
	background: url('../images/icon_googleplus.png') no-repeat;
	background-position: 0 0;
}


.contact-details ul li span.vimeo{
	background: url('../images/icon_vimeo.png') no-repeat;
	background-position: 0 0;
}


.contact-details ul li span.pinterest{
	background: url('../images/icon_pintrest.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.blogger{
	background: url('../images/icon_blogger.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.icona{
	background: url('../images/icona.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.iconb{
	background: url('../images/iconb.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.iconc{
	background: url('../images/iconc.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.icond{
	background: url('../images/icond.png') no-repeat;
	background-position: 0 0;
}

.contact-details ul li span.rssfeed{
	background: url('../images/icon_rssfeed.png') no-repeat;
	background-position: 0 0;
}
