.logo{
	width: 8.37607%;
	float: left;
	padding-top: 24px;
	padding-bottom: 33px;

	background: red;
}

.logo img{
	width: 100%;
}

div.menu{
	width: 82.906%;
	float: right;
	padding-top: 33px;
	padding-bottom: 46px;

}

div.menu{
	font-family: 'roboto';
    font-weight: bold;
	font-size: 14px;
}

div.menu ul li a{
	display: block;
	text-decoration: none;
	color: black;
}

.small-bar{
	display: block;
	width: 8px;
	height: 2px;
	background: red;
}

.menu-list{
	display: block;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}

.stmt .stmt-top {
    font-family: 'raleway';
    font-weight: bold;
    font-size: 32px;
    color: white;
    line-height: 35px;
}

.stmt .stmt-bottom{
    font-family: 'raleway';
    font-size: 24px;
    color: white;
    line-height: 29px;
}

.clean-design-logo{
	width: 100%;
	height: 100px;
	background: url('../images/clean_design.png') no-repeat;
	background-position: 50% 50%;
}

.branding-logo{
	width: 100%;
	height: 100px;
	background: url('../images/branding.png') no-repeat;
	background-position: 50% 50%;
}

.responsive-logo{
	width: 100%;
	height: 100px;
	background: url('../images/responsive.png') no-repeat;
	background-position: 50% 50%;
}

.development-logo{
	width: 100%;
	height: 100px;
	background: url('../images/development.png') no-repeat;
	background-position: 50% 50%;
}


.clean-design-info{
	text-align: center;
}

.clean-design-info p.title{
	font-family: 'roboto';
	font-size: 25px;
	font-weight: bold;
	line-height: 72px;
}

.clean-design-info p.info{
	font-family: 'roboto';
	font-size: 15px;
	color: #aaaaaa;
	/*font-weight: bold;*/
	line-height: 19px;
}

.bottom-bar{
	width: 70px;
	height: 30px;
	margin: 0px auto;
	/*background: #e3493f;*/
	border-bottom: 2px solid #e3493f;
}



.purchase .purchase-top {
    font-family: 'raleway';
    font-weight: bold;
    font-size: 32px;
    color: white;
    line-height: 35px;
}

.purchase .purchase-middle{
    font-family: 'raleway';
    font-size: 25px;
    color: white;
    line-height: 29px;
}

